@page "/game/{GameID}"
@using XCard.Shared
@inherits Features.Game.GameModel
@inject IGameHubClient GameHubClient
@inject IUriHelper UriHelper

@if (State.IsGameLoaded)
{
    if (!State.HasJoinedGame)
    {
        <div class="overlay">
            <button @onclick="JoinGame">JOIN GAME</button>
        </div>
    }
    <h1>Game</h1>
    <p>@State.Session.SessionName</p>

    <p>Welcome @State.CurrentUser.Username</p>
    <button @onclick="ButtonClick">PUSH ME(Does nothing right now)</button>
    <p>Open link in new window to demonstrate how another person can join: @UriHelper.GetAbsoluteUri()</p> 
    @if(State.ButtonPushed)
    {
        <p>SOMEONE PUSHED THE BUTTON</p>
    }
    <p>Current People In Game</p>
    <div>
        @foreach (var user in this.State.Session.CurrentUsers)
        {
            <div>
                @user.Username
            </div>
        }
    </div>
}
else
{
    <p>Loading...</p>
}
