@page "/"

@inherits Components.Index

<h1>Hello!</h1>

<label>Please input your name:</label>
<input type="text" @bind="UserName" />

<button @onclick="Login">Login</button>

@functions {
    string UserName { get; set; }

    

    async Task Login()
    {
        await CreateUserAndGoHome(UserName);
    }

}
